<div class="modal fade" id="modalproducto" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <!-- Contenido del modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">Productos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table " id="datatablesSimple">

          <thead>
            <tr>
              <th># Codigo</th>
              <th>Descripci&oacute;n</th>
              <th>Precio Costo </th>
              <th>Precio Venta </th>
              <th>Existencia </th>
              <th>Marca </th>
              <th>Clasificaci&oacute;n</th>
              <th>Un. Medida </th>
              <th>Opciones</th>

            </tr>
          </thead>


          
          <tbody>
            {% for prod in productos %}
            <tr>
              <td> {{prod.id}} </td>
              <td> {{prod.descripcion}}</td>
              <td>{{ prod.precio_costo|floatformat:0}}</td>
              <th>{{ prod.precio_venta|floatformat:0}}</td>
              <td> {{prod.existencia|floatformat:0}} </td>
              <td> {{prod.marca.descripcion}} </td>
              <td> {{prod.clasificacion.descripcion}} </td>
              <td> {{prod.unidad_medida.resumido}} </td>

              <td> 
                <button type="button" class="btn btn-success seleccionar_producto" ><i class="fa-solid fa-check"></i> Seleccionar</button> 
              </td>
            </tr>
            {% endfor %}
          </tbody>
          
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <!-- Puedes agregar más botones de acción aquí -->
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    // Captura el clic en el botón "Seleccionar"
    $('.seleccionar_producto').on('click', function () {
      // Obtiene la fila actual
      var fila = $(this).closest('tr');

      // Obtiene los valores de la fila actual
      var id = fila.find('td:eq(0)').text();
      var descripcion = fila.find('td:eq(1)').text();
      var precioVenta = fila.find('td:eq(2)').text();  // Corregido el índice

      // Actualiza los campos de la otra tabla
      $('.codigo').val(id);
      $('.descripcion').val(descripcion);
      $('.precio_venta').val(precioVenta);
      $("#modalproducto").modal('hide');
    });
  });
</script>