<div class="modal fade" id="modalcliente" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <!-- Contenido del modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">Clientes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table  table-responsive" id="datatablesSimple">

          <thead>
            <tr>
              <th ># Codigo</th>
              <th >Nombre</th>
              <th >Apellido</th>
              <th >Documento</th>
              <th >Direccion</th>
              <th >Telefono</th>
              <th >Opciones</th>
            </tr>
          </thead>
      
         
      
          <tbody>
            {% for cli in cliente %}
            <tr>
              <td > {{cli.id}} </td>
              <td> {{cli.nombre}}</td>
              <td> {{cli.apellido}}</td>
              <td> {{cli.documento}}</td>
              <td> {{cli.direccion}}</td>
              <td> {{cli.telefono}}</td>
             
              <td> 
                <button type="button" class="btn btn-success seleccionar_cliente" ><i class="fa-solid fa-check"></i> Seleccionar</button> 
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <!-- Puedes agregar más botones de acción aquí -->
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function () {
    // Captura el clic en el botón "Seleccionar"
    $('.seleccionar_cliente').on('click', function () {
      // Obtiene la fila actual
      var fila = $(this).closest('tr');

      // Obtiene los valores de la fila actual
      var id = fila.find('td:eq(0)').text();
      var nombre = fila.find('td:eq(1)').text();
      var apellido = fila.find('td:eq(2)').text();
      var documento = fila.find('td:eq(3)').text();
      var direccion = fila.find('td:eq(4)').text();
      var telefono= fila.find('td:eq(5)').text();


       // Actualiza los campos de la otra tabla
       $('.codigo_cliente').val(id);
        $('.nombre').val(nombre);
        $('.apellido').val(apellido);
        $('.documento').val(documento);
        $('.direccion').val(direccion);
        $('.telefono').val(telefono);

        $("#modalcliente").modal('hide');

    });
  });
</script>