{% extends 'index.html' %}
{% load static %}



{% block content %}

<div class="my-2 p-2">
    <h5>Factura de Venta</h5>
</div>
<div class="my-2 p-2">
    <table class="table table-borderless">
        <tr>
            <th>Cliente</th>
            <td><select class="form-select" name="" id=""></select></td>
            <th>R.U.C.</th>
            <td> <input class="form-control" readonly type="text"> </td>
            <th>Correo</th>
            <td><input class="form-control" readonly type="text"></td>
        </tr>
        <tr>

            <th>Direccion</th>
            <td><input class="form-control" readonly type="text"></td>
            <th>Telefono</th>
            <td><input class="form-control" readonly type="text"></td>
        </tr>
        <tr>
            <th>Tipo de Documento</th>
            <td><select class="form-select" name="" id=""></select></td>
            <th>Numero</th>
            <td><input class="form-control text-center" readonly placeholder="001-001-00001" type="text"></td>

        </tr>
    </table>
    <hr>

    <table class="table table-borderless">
        <tr>
            <th>Producto</th>
            <td style="width: 50%;"><select class="form-select" name="" id=""></select></td>
            <th style="text-align: right;">Cantidad</th>
            <td style="width: 10%;"><input class="form-control" readonly type="text"></td>
            <th><button class="btn btn-primary">+</button></th>
        </tr>
    </table>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr class="table-dark">
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio Costo</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Opciones</th>
            </tr>
        </thead>

    </table>


</div>


{% endblock %}